@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Nettoyage du CSS par défaut ---
  On supprime toutes les règles :root, les dégradés et les media queries 
  qui créent des conflits avec notre design clair et le mode sombre du téléphone.
*/

html,
body {
  height: 100%;
  /* On force le fond à la couleur slate-50 (qui est #f8fafc) */
  background-color: #f8fafc;
  /* On force la couleur de texte de base à slate-900 */
  color: #0f172a; 
}