@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Zone de sécurité et correction de fond --- */

html,
body {
  height: 100%;
  background-color: #f8fafc; /* Force fond clair */
  color: #0f172a; 
}

/* 1. Nouvelle variable pour la zone de sécurité en bas */
/* Permet d'utiliser pb-safe dans Tailwind */
@supports(padding-bottom: constant(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: constant(safe-area-inset-bottom);
  }
}
@supports(padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* 2. Style des liens (utile si tu veux surcharger l'apparence des liens) */
@layer base {
    a {
        text-decoration: none;
    }
}